/server/install/
/server/log/
/server/build/
/robot/install/
/robot/log/
/robot/build/
/.vscode/
/db/config/config.ini
/gui/consumer/src/__pycache__/
/gui/manager/src/__pycache__/
/db/src/__pycache__/
/log
/build
/install
/gui/manager_pkg/build/
/gui/manager_pkg/install/
/gui/manager_pkg/log/
/gui/manager/data/barcode_data.json