# Name of the domain bridge, used for node naming and logging
# robot_1_ID: 91
name: domain_bridge

topics:
  amcl_pose:
    type: geometry_msgs/msg/PoseWithCovarianceStamped
    from_domain: 91
    to_domain: 90
    remap: amcl_pose_1
  amcl_pose:
    type: geometry_msgs/msg/PoseWithCovarianceStamped
    from_domain: 92
    to_domain: 90
    remap: amcl_pose_2
  amcl_pose:
    type: geometry_msgs/msg/PoseWithCovarianceStamped
    from_domain: 93
    to_domain: 90
    remap: amcl_pose_3




  allocate_task_91:
    type: task_msgs/srv/AllocateTask
    from_domain: 91
    to_domain: 90

  allocate_task_92:
    type: task_msgs/srv/AllocateTask
    from_domain: 92
    to_domain: 90

  allocate_task_93:
    type: task_msgs/srv/AllocateTask
    from_domain: 93
    to_domain: 90
    


  obstacle:
    type: task_msgs/msg/CurrentPath
    from_domain: 92
    to_domain: 91
    remap: obstacle_1
  obstacle:
    type: task_msgs/msg/CurrentPath
    from_domain: 93
    to_domain: 91
    remap: obstacle_2

  obstacle:
    type: task_msgs/msg/CurrentPath
    from_domain: 91
    to_domain: 92
    remap: obstacle_1
  obstacle:
    type: task_msgs/msg/CurrentPath
    from_domain: 93
    to_domain: 92
    remap: obstacle_2

  obstacle:
    type: task_msgs/msg/CurrentPath
    from_domain: 91
    to_domain: 93
    remap: obstacle_1
  obstacle:
    type: task_msgs/msg/CurrentPath
    from_domain: 92
    to_domain: 93
    remap: obstacle_2




